<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keySearch</key>
		<string>afghanistan</string>
		<key>provinceID</key>
		<string>1</string>
		<key>provinceName</key>
        <string>Afghanistan</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>albania</string>
		<key>provinceID</key>
		<string>2</string>
		<key>provinceName</key>
        <string>Albania</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>algeria</string>
		<key>provinceID</key>
		<string>3</string>
		<key>provinceName</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>andorra</string>
		<key>provinceID</key>
		<string>4</string>
		<key>provinceName</key>
		<string>Andorra</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>angola</string>
		<key>provinceID</key>
		<string>5</string>
		<key>provinceName</key>
		<string>Angola</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>antiguaandbarbuda</string>
		<key>provinceID</key>
		<string>6</string>
		<key>provinceName</key>
        <string>Antigua and Barbuda</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>argentina</string>
		<key>provinceID</key>
		<string>7</string>
		<key>provinceName</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>armenia</string>
		<key>provinceID</key>
		<string>8</string>
		<key>provinceName</key>
		<string>Armenia</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>australia</string>
		<key>provinceID</key>
		<string>9</string>
		<key>provinceName</key>
		<string>Australia</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>austria</string>
		<key>provinceID</key>
		<string>10</string>
		<key>provinceName</key>
		<string>Austria</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>azerbaijan</string>
		<key>provinceID</key>
		<string>11</string>
		<key>provinceName</key>
		<string>Azerbaijan</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>bahamas</string>
		<key>provinceID</key>
		<string>12</string>
		<key>provinceName</key>
		<string>Bahamas</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>bahrain</string>
		<key>provinceID</key>
		<string>13</string>
		<key>provinceName</key>
		<string>Bahrain</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>bangladesh</string>
		<key>provinceID</key>
		<string>14</string>
		<key>provinceName</key>
		<string>Bangladesh</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>barbados</string>
		<key>provinceID</key>
		<string>15</string>
		<key>provinceName</key>
		<string>Barbados</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>belarus</string>
		<key>provinceID</key>
		<string>16</string>
		<key>provinceName</key>
		<string>Belarus</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>belgium</string>
		<key>provinceID</key>
		<string>17</string>
		<key>provinceName</key>
		<string>Belgium</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>belize</string>
		<key>provinceID</key>
		<string>18</string>
		<key>provinceName</key>
		<string>Belize</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>benin</string>
		<key>provinceID</key>
		<string>19</string>
		<key>provinceName</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>bhutan</string>
		<key>provinceID</key>
		<string>20</string>
		<key>provinceName</key>
		<string>Bhutan</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>bolivia</string>
		<key>provinceID</key>
		<string>21</string>
		<key>provinceName</key>
		<string>Bolivia</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>bosniaandherzegovina</string>
		<key>provinceID</key>
		<string>22</string>
		<key>provinceName</key>
        <string>Bosnia and Herzegovina</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>botswana</string>
		<key>provinceID</key>
		<string>23</string>
		<key>provinceName</key>
		<string>Botswana</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>brazil</string>
		<key>provinceID</key>
		<string>24</string>
		<key>provinceName</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>brunei</string>
		<key>provinceID</key>
		<string>25</string>
		<key>provinceName</key>
		<string>Brunei</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>bulgaria</string>
		<key>provinceID</key>
		<string>26</string>
		<key>provinceName</key>
		<string>Bulgaria</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>burkinafaso</string>
		<key>provinceID</key>
		<string>27</string>
		<key>provinceName</key>
        <string>Burkina Faso</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>burundi</string>
		<key>provinceID</key>
		<string>28</string>
		<key>provinceName</key>
		<string>Burundi</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>caboverde</string>
		<key>provinceID</key>
		<string>29</string>
		<key>provinceName</key>
		<string>Cabo Verde</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>cambodia</string>
		<key>provinceID</key>
		<string>30</string>
		<key>provinceName</key>
		<string>Cambodia</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>cameroon</string>
		<key>provinceID</key>
		<string>31</string>
		<key>provinceName</key>
		<string>Cameroon</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>canada</string>
		<key>provinceID</key>
		<string>32</string>
		<key>provinceName</key>
		<string>Canada</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>centralafricanrepublic</string>
		<key>provinceID</key>
		<string>33</string>
		<key>provinceName</key>
		<string>Central African Republic (CAR)</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>chad</string>
		<key>provinceID</key>
		<string>34</string>
		<key>provinceName</key>
        <string>Chad</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>chile</string>
		<key>provinceID</key>
		<string>35</string>
		<key>provinceName</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>china</string>
		<key>provinceID</key>
		<string>36</string>
		<key>provinceName</key>
		<string>China</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>colombia</string>
		<key>provinceID</key>
		<string>37</string>
		<key>provinceName</key>
		<string>Colombia</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>comoros</string>
		<key>provinceID</key>
		<string>38</string>
		<key>provinceName</key>
		<string>Comoros</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>congo</string>
		<key>provinceID</key>
		<string>39</string>
		<key>provinceName</key>
		<string>Democratic Republic of the Congo</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>congo</string>
		<key>provinceID</key>
		<string>40</string>
		<key>provinceName</key>
		<string>Republic of the Congo</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>costarica</string>
		<key>provinceID</key>
		<string>41</string>
		<key>provinceName</key>
		<string>Costa Rica</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>coted'ivoire</string>
		<key>provinceID</key>
		<string>42</string>
		<key>provinceName</key>
        <string>Cote d'Ivoire</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>croatia</string>
		<key>provinceID</key>
		<string>43</string>
		<key>provinceName</key>
		<string>Croatia</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>cuba</string>
		<key>provinceID</key>
		<string>44</string>
		<key>provinceName</key>
		<string>Cuba</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>cyprus</string>
		<key>provinceID</key>
		<string>45</string>
		<key>provinceName</key>
		<string>Cyprus</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>czechrepublic</string>
		<key>provinceID</key>
		<string>46</string>
		<key>provinceName</key>
		<string>Czech Republic</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>denmark</string>
		<key>provinceID</key>
		<string>47</string>
		<key>provinceName</key>
		<string>Denmark</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>djibouti</string>
		<key>provinceID</key>
		<string>48</string>
		<key>provinceName</key>
		<string>Djibouti</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>dominica</string>
		<key>provinceID</key>
		<string>49</string>
		<key>provinceName</key>
		<string>Dominica</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>dominicanrepublic</string>
		<key>provinceID</key>
		<string>50</string>
		<key>provinceName</key>
		<string>Dominican Republic</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>ecuador</string>
		<key>provinceID</key>
		<string>51</string>
		<key>provinceName</key>
		<string>Ecuador</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>egypt</string>
		<key>provinceID</key>
		<string>52</string>
		<key>provinceName</key>
		<string>Egypt</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>elsalvador</string>
		<key>provinceID</key>
		<string>53</string>
		<key>provinceName</key>
		<string>El Salvador</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>equatorialguinea</string>
		<key>provinceID</key>
		<string>54</string>
		<key>provinceName</key>
		<string>Equatorial Guinea</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>eritrea</string>
		<key>provinceID</key>
		<string>55</string>
		<key>provinceName</key>
		<string>Eritrea</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>estonia</string>
		<key>provinceID</key>
		<string>56</string>
		<key>provinceName</key>
		<string>Estonia</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>eswatini</string>
		<key>provinceID</key>
		<string>57</string>
		<key>provinceName</key>
		<string>Eswatini (formerly Swaziland)</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>ethiopia</string>
		<key>provinceID</key>
		<string>58</string>
		<key>provinceName</key>
		<string>Ethiopia</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>fiji</string>
		<key>provinceID</key>
		<string>59</string>
		<key>provinceName</key>
		<string>Fiji</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>finland</string>
		<key>provinceID</key>
		<string>60</string>
		<key>provinceName</key>
		<string>Finland</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>france</string>
		<key>provinceID</key>
		<string>61</string>
		<key>provinceName</key>
		<string>France</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>yenbai</string>
		<key>gabon</key>
		<string>62</string>
		<key>provinceName</key>
		<string>Gabon</string>
	</dict>
	<dict>
		<key>keySearch</key>
		<string>gambia</string>
		<key>provinceID</key>
		<string>63</string>
		<key>provinceName</key>
		<string>Gambia</string>
	</dict>
    <dict>
        <key>keySearch</key>
        <string>georgia</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Georgia</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>germany</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Germany</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>ghana</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Ghana</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>greece</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Greece</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>grenada</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Grenada</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>guatemala</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Guatemala</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>guinea</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Guinea</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>guinea-bissau</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Guinea-Bissau</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>guyana</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Guyana</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>haiti</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Haiti</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>honduras</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Honduras</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>hungary</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Hungary</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>iceland</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Iceland</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>india</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>India</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>indonesia</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Indonesia</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>iran</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Iran</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>iraq</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Iraq</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>ireland</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Ireland</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>israel</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Israel</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>italy</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Italy</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>jamaica</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Jamaica</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>japan</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Japan</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>jordan</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Jordan</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>kazakhstan</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Kazakhstan</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>kenya</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Kenya</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>kiribati</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Kiribati</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>kosovo</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Kosovo</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>kuwait</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Kuwait</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>kyrgyzstan</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Kyrgyzstan</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>laos</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Laos</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>latvia</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Latvia</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>lebanon</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Lebanon</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>lesotho</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Lesotho</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>liberia</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Liberia</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>libya</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Libya</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>liechtenstein</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Liechtenstein</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>lithuania</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Lithuania</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>luxembourg</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Luxembourg</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>macedonia</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Macedonia (FYROM)</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>madagascar</string>
        <key>provinceID</key>
        <string>63</string>
        <key>provinceName</key>
        <string>Madagascar</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>malawi</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Malawi</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>malaysia</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Malaysia</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>maldives</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Maldives</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>mali</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Mali</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>malta</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Malta</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>marshalislands</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Marshall Islands</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>mauritania</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Mauritania</string>
    </dict>
    <dict>
        <key>keySearch</key>
        <string>mauritius</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Mauritius</string>
    </dict><dict>
        <key>keySearch</key>
        <string>mexico</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Mexico</string>
    </dict><dict>
        <key>keySearch</key>
        <string>micronesia</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Micronesia</string>
    </dict><dict>
        <key>keySearch</key>
        <string>moldova</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Moldova</string>
    </dict><dict>
        <key>keySearch</key>
        <string>monaco</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Monaco</string>
    </dict><dict>
        <key>keySearch</key>
        <string>mongolia</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Mongolia</string>
    </dict><dict>
        <key>keySearch</key>
        <string>montenegro</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Montenegro</string>
    </dict><dict>
        <key>keySearch</key>
        <string>morocco</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Morocco</string>
    </dict><dict>
        <key>keySearch</key>
        <string>mozambique</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Mozambique</string>
    </dict><dict>
        <key>keySearch</key>
        <string>myanmarburma</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Myanmar (formerly Burma)</string>
    </dict><dict>
        <key>keySearch</key>
        <string>namibia</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Namibia</string>
    </dict><dict>
        <key>keySearch</key>
        <string>nauru</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Nauru</string>
    </dict><dict>
        <key>keySearch</key>
        <string>nepal</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Nepal</string>
    </dict><dict>
        <key>keySearch</key>
        <string>netherlands</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Netherlands</string>
    </dict><dict>
        <key>keySearch</key>
        <string>newzealand</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>New Zealand</string>
    </dict><dict>
        <key>keySearch</key>
        <string>nicaragua</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Nicaragua</string>
    </dict><dict>
        <key>keySearch</key>
        <string>niger</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Niger</string>
    </dict><dict>
        <key>keySearch</key>
        <string>nigeria</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Nigeria</string>
    </dict><dict>
        <key>keySearch</key>
        <string>northkorea</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>North Korea</string>
    </dict><dict>
        <key>keySearch</key>
        <string>norway</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Norway</string>
    </dict><dict>
        <key>keySearch</key>
        <string>oman</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Oman</string>
    </dict><dict>
        <key>keySearch</key>
        <string>pakistan</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Pakistan</string>
    </dict><dict>
        <key>keySearch</key>
        <string>palau</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Palau</string>
    </dict><dict>
        <key>keySearch</key>
        <string>palestine</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Palestine</string>
    </dict><dict>
        <key>keySearch</key>
        <string>panama</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Panama</string>
    </dict><dict>
        <key>keySearch</key>
        <string>papuanewguinea</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Papua New Guinea</string>
    </dict><dict>
        <key>keySearch</key>
        <string>paraguay</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Paraguay</string>
    </dict><dict>
        <key>keySearch</key>
        <string>peru</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Peru</string>
    </dict><dict>
        <key>keySearch</key>
        <string>philippines</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Philippines</string>
    </dict><dict>
        <key>keySearch</key>
        <string>poland</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Poland</string>
    </dict><dict>
        <key>keySearch</key>
        <string>portugal</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Portugal</string>
    </dict><dict>
        <key>keySearch</key>
        <string>qatar</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Qatar</string>
    </dict><dict>
        <key>keySearch</key>
        <string>romania</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Romania</string>
    </dict><dict>
        <key>keySearch</key>
        <string>russia</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Russia</string>
    </dict><dict>
        <key>keySearch</key>
        <string>rwanda</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Rwanda</string>
    </dict><dict>
        <key>keySearch</key>
        <string>saintkittsandnevis</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Saint Kitts and Nevis</string>
    </dict><dict>
        <key>keySearch</key>
        <string>saintlucia</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Saint Lucia</string>
    </dict><dict>
        <key>keySearch</key>
        <string>saintvincentandthegrenadines</string>
        <key>provinceID</key>
        <string></string>
        <key>provinceName</key>
        <string>Saint Vincent and the Grenadines</string>
    </dict>
<dict>
    <key>keySearch</key>
    <string>samoa</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Samoa</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>sanmarino</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>San Marino</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>saotomeandprincipe</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Sao Tome and Principe</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>saudiarabia</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Saudi Arabia</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>senegal</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Senegal</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>serbia</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Serbia</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>seychelles</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Seychelles</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>sierraleone</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Sierra Leone</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>singapore</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Singapore</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>slovakia</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Slovakia</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>slovenia</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Slovenia</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>solomonislands</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Solomon Islands</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>somalia</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Somalia</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>southafrica</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>South Africa</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>southkorea</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>South Korea</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>southsudan</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>South Sudan</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>spain</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Spain</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>srilanka</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Sri Lanka</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>sudan</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Sudan</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>eswatini</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Eswatini</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>sweden</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Sweden</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>switzerland</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Switzerland</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>syria</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Syria</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>taiwan</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Taiwan</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>tajikistan</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Tajikistan</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>tanzania</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Tanzania</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>thailand</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Thailand</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>timor-leste</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Timor-Leste</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>togo</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Togo</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>tonga</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Tonga</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>trinidadandtobago</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Trinidad and Tobago</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>tunisia</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Tunisia</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>turkey</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Turkey</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>turkmenistan</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Turkmenistan</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>tuvalu</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Tuvalu</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>uganda</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Uganda</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>ukraine</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Ukraine</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>unitedarabemirates</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>United Arab Emirates (UAE)</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>unitedkingdom</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>United Kingdom</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>unitedstatesofamerica</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>United States of America</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>uruguay</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Uruguay</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>uzbekistan</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Uzbekistan</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>vanuatu</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Vanuatu</string>
</dict><dict>
    <key>keySearch</key>
    <string>vaticancity</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Vatican City (Holy See)</string>
</dict><dict>
    <key>keySearch</key>
    <string>venezuela</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Venezuela</string>
</dict><dict>
    <key>keySearch</key>
    <string>vietnam</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Vietnam</string>
</dict><dict>
    <key>keySearch</key>
    <string>yemen</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Yemen</string>
</dict><dict>
    <key>keySearch</key>
    <string>zambia</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Zambia</string>
</dict>
<dict>
    <key>keySearch</key>
    <string>zimbabwe</string>
    <key>provinceID</key>
    <string></string>
    <key>provinceName</key>
    <string>Zimbabwe</string>
</dict>
</array>
</plist>
